<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">
		
			<h2 class="title-data-table">#{label.apartmentlist}</h2>
			
			<p:dataTable id="table" emptyMessage="#{label.norecordsfound}"
				value="#{abean.apartments}" var="apartment" paginator="true"
				rows="5" resizableColumns="true" reflow="true" widgetVar="table"
				paginatorPosition="bottom" selectionMode="single"
				selection="#{abean.seletedapartment}" rowKey="#{apartment.id}"
				rowsPerPageTemplate="5,10,15,30,50">
				<f:facet name="header">
					<p:commandButton value="#{label.neww}"
						oncomplete="PF('dlgregistration').show()"
						actionListener="#{abean.init()}"
						update=":frmregistration:pnlregistration :frmregistration:pnlregistrationfooter">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{abean.preparebean}"
					update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
					oncomplete="PF('dlgregistration').show()" />

				<p:column headerText="#{label.number}"
					filterBy="#{apartment.number}" sortBy="#{apartment.number}"
					filterMatchMode="contains">
					<h:outputLabel value="#{apartment.number}" />
				</p:column>

				<p:column headerText="#{label.building}"
					filterBy="#{apartment.building}"
					sortBy="#{apartment.building.name}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('table').filter()"
							converter="omnifaces.SelectItemsConverter" filter="true"
							filterMatchMode="contains">
							<f:selectItem itemLabel="#{label.selectanoption}"
								noSelectionOption="true" />
							<f:selectItems value="#{abean.buildings}" var="building"
								itemLabel="#{building.condominium.name} - #{building.name}"
								itemValue="#{building}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputLabel value="#{apartment.building.name}" />
				</p:column>

				<p:column headerText="#{label.active}"
					filterBy="#{apartment.active}" sortBy="#{apartment.active}"
					filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('table').filter()">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="#{label.all}" itemValue="" />
							<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
							<f:selectItem itemLabel="#{label.no}" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputLabel value="#{apartment.active ? label.yes : label.no}" />
				</p:column>

				<f:facet name="footer">#{label.total}: #{abean.apartments.size()} #{label.apartments}</f:facet>
			</p:dataTable>
		</h:form>

		<p:dialog header="#{label.apartmentregistrations}" modal="true"
			widgetVar="dlgregistration" draggable="false" resizable="false">
			<h:form id="frmregistration">
				<h:panelGrid id="pnlregistration" columns="2">
					<p:outputLabel value="#{label.building}" for="building" />
					<p:selectOneMenu id="building" value="#{abean.apartment.building}"
						required="true" requiredMessage="#{label.buildingrequired}"
						converter="omnifaces.SelectItemsConverter"
						disabled="#{preferences.disabled}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="#{label.selectanoption}"
							noSelectionOption="true" />
						<f:selectItems value="#{abean.buildings}" var="building"
							itemLabel="#{building.condominium.name} - #{building.name}"
							itemValue="#{building}" />
					</p:selectOneMenu>

					<p:outputLabel value="#{label.number}" for="number" />
					<p:inputText id="number" value="#{abean.apartment.number}"
						required="true" size="30" maxlength="30"
						requiredMessage="#{label.numberrequired}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.active}" for="active" />
					<p:selectOneRadio id="active" value="#{abean.apartment.active}"
						disabled="#{preferences.disabled}">
						<f:converter converterId="javax.faces.Boolean" />
						<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
						<f:selectItem itemLabel="#{label.no}" itemValue="false" />
					</p:selectOneRadio>
				</h:panelGrid>
				<h:panelGrid id="pnlregistrationfooter" columns="3">
					<p:commandButton value="#{label.update}"
						actionListener="#{preferences.setDisabled(false)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == true}" />

					<p:commandButton value="#{label.disable}"
						actionListener="#{abean.disable}"
						update=":frmregistration:pnlregistration :frmtable:table"
						rendered="#{preferences.disabled == true}">
						<p:confirm header="#{label.confirmation}"
							message="#{label.wantdisable}" icon="ui-icon-alert" />
						<f:attribute name="selectedapartment" value="#{abean.apartment}" />
					</p:commandButton>

					<p:commandButton value="#{label.close}"
						oncomplete="PF('dlgregistration').hide()"
						update=":frmregistration:pnlregistration"
						actionListener="#{abean.init()}">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton value="#{label.cancel}"
						actionListener="#{preferences.setDisabled(true)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == false and preferences.windowtype == 'open'}" />

					<p:commandButton value="#{label.save}"
						actionListener="#{abean.saveorupdate}"
						update=":message :frmtable:table"
						rendered="#{preferences.disabled == false}" />
				</h:panelGrid>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{label.yes}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{label.no}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
