<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">
		
			<h2 class="title-data-table">#{label.buildinglist}</h2>
			
			
			<p:dataTable id="table" emptyMessage="#{label.norecordsfound}"
				value="#{bbean.buildings}" var="building" paginator="true" rows="5"
				resizableColumns="true" reflow="true" widgetVar="table"
				paginatorPosition="bottom" selectionMode="single"
				selection="#{bbean.selectedbuilding}" rowKey="#{building.id}"
				rowsPerPageTemplate="5,10,15,30,50">
				<f:facet name="header">
					<p:commandButton value="#{label.neww}"
						oncomplete="PF('dlgregistration').show()"
						actionListener="#{bbean.init()}"
						update=":frmregistration:pnlregistration :frmregistration:pnlregistrationfooter">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{bbean.preparebean}"
					update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
					oncomplete="PF('dlgregistration').show()" />

				<p:column headerText="#{label.name}" filterBy="#{building.id}"
					sortBy="#{building.name}" filterMatchMode="contains">
					<h:outputLabel value="#{building.name}" />
				</p:column>
				<p:column headerText="#{label.condominium}"
					filterBy="#{building.condominium}"
					sortBy="#{building.condominium.name}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('table').filter()"
							converter="omnifaces.SelectItemsConverter">
							<f:selectItem itemLabel="#{label.selectanoption}"
								noSelectionOption="true" />
							<f:selectItems value="#{bbean.condominiums}" var="condominium"
								itemLabel="#{condominium.name}" itemValue="#{condominium}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputLabel value="#{building.condominium.name}" />
				</p:column>
				<p:column headerText="#{label.active}" filterBy="#{building.active}"
					sortBy="#{building.active}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('table').filter()">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="#{label.all}" itemValue="" />
							<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
							<f:selectItem itemLabel="#{label.no}" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputLabel value="#{building.active ? label.yes : label.no}" />
				</p:column>

				<f:facet name="footer">#{label.total}: #{bbean.buildings.size()} #{label.buildings}</f:facet>
			</p:dataTable>
		</h:form>

		<p:dialog header="#{label.buildingregistrations}" modal="true"
			widgetVar="dlgregistration" draggable="false" resizable="false">
			<h:form id="frmregistration">
				<h:panelGrid id="pnlregistration" columns="2">
					<p:outputLabel value="#{label.condominium}" for="condominium" />
					<p:selectOneMenu id="condominium"
						value="#{bbean.building.condominium}" required="true"
						requiredMessage="#{label.companyrequired}!"
						converter="omnifaces.SelectItemsConverter"
						disabled="#{preferences.disabled}">
						<f:selectItem itemLabel="#{label.selectanoption}"
							noSelectionOption="true" />
						<f:selectItems value="#{bbean.condominiums}" var="condominium"
							itemLabel="#{condominium.name}" itemValue="#{condominium}" />
					</p:selectOneMenu>

					<p:outputLabel value="#{label.name}" for="name" />
					<p:inputText id="name" value="#{bbean.building.name}"
						required="true" size="30" maxlength="30"
						requiredMessage="#{label.namerequired}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.active}" for="active" />
					<p:selectOneRadio id="active" value="#{bbean.building.active}"
						disabled="#{preferences.disabled}">
						<f:converter converterId="javax.faces.Boolean" />
						<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
						<f:selectItem itemLabel="#{label.no}" itemValue="false" />
					</p:selectOneRadio>
				</h:panelGrid>
				<h:panelGrid id="pnlregistrationfooter" columns="3">
					<p:commandButton value="#{label.update}"
						actionListener="#{preferences.setDisabled(false)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == true}" />

					<p:commandButton value="#{label.disable}"
						actionListener="#{bbean.disable}"
						update=":frmregistration:pnlregistration :frmtable:table"
						rendered="#{preferences.disabled == true}">
						<p:confirm header="#{label.confirmation}"
							message="#{label.wantdisable}" icon="ui-icon-alert" />
						<f:attribute name="selectedbuilding" value="#{bbean.building}" />
					</p:commandButton>

					<p:commandButton value="#{label.close}"
						oncomplete="PF('dlgregistration').hide()"
						update=":frmregistration:pnlregistration"
						actionListener="#{bbean.init()}">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton value="#{label.cancel}"
						actionListener="#{preferences.setDisabled(true)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == false and preferences.windowtype == 'open'}" />

					<p:commandButton value="#{label.save}"
						actionListener="#{bbean.saveorupdate}"
						update=":message :frmtable:table"
						rendered="#{preferences.disabled == false}" />
				</h:panelGrid>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{label.yes}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{label.no}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
