<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">

			<h2 class="title-data-table">#{label.companylist}</h2>


			<p:dataTable id="table" emptyMessage="#{label.norecordsfound}"
				value="#{cbean.companies}" var="company" paginator="true" rows="5"
				resizableColumns="true" reflow="true" widgetVar="table"
				paginatorPosition="bottom" selectionMode="single"
				selection="#{cbean.seleteccompany}" rowKey="#{company.id}"
				rowsPerPageTemplate="5,10,15,30,50">
				<f:facet name="header">
					<p:commandButton value="#{label.neww}"
						oncomplete="PF('dlgregistration').show()"
						actionListener="#{cbean.init()}"
						update=":frmregistration:pnlregistration :frmregistration:pnlregistrationfooter">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{cbean.preparebean}"
					update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
					oncomplete="PF('dlgregistration').show()" />

				<p:column headerText="#{label.cnpj}" filterBy="#{company.cnpj}"
					sortBy="#{company.cnpj}" filterMatchMode="contains">
					<h:outputLabel value="#{company.cnpj}" />
				</p:column>

				<p:column headerText="#{label.fantasyname}"
					filterBy="#{company.fantasyname}" sortBy="#{company.fantasyname}"
					filterMatchMode="contains">
					<h:outputLabel value="#{company.fantasyname}" />
				</p:column>

				<p:column headerText="#{label.city}" filterBy="#{company.city}"
					sortBy="#{company.city}" filterMatchMode="contains">
					<h:outputLabel value="#{company.city}" />
				</p:column>

				<p:column headerText="#{label.active}" filterBy="#{company.active}"
					sortBy="#{company.active}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('table').filter()">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="#{label.all}" itemValue="" />
							<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
							<f:selectItem itemLabel="#{label.no}" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputLabel value="#{company.active ? label.yes : label.no}" />
				</p:column>

				<f:facet name="footer">#{label.total}: #{cbean.companies.size()} #{label.companies}</f:facet>
			</p:dataTable>
		</h:form>

		<p:dialog header="#{label.companyregistrations}" modal="true"
			widgetVar="dlgregistration" draggable="false" resizable="false">
			<h:form id="frmregistration">
				<h:panelGrid id="pnlregistration" columns="2">
					<p:outputLabel value="#{label.cnpj}" for="cnpj" />
					<p:inputMask id="cnpj" required="true"
						requiredMessage="#{label.cnpjrequired}" size="18" maxlength="18"
						value="#{cbean.company.cnpj}" mask="99.999.999/9999-99"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.fantasyname}" for="fantasyname" />
					<p:inputText id="fantasyname" required="true"
						requiredMessage="#{label.fantasynamerequired}" size="30"
						maxlength="30" value="#{cbean.company.fantasyname}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.socialname}" for="socialname" />
					<p:inputText id="socialname" required="true"
						requiredMessage="#{label.socialnamerequired}" size="50"
						maxlength="50" value="#{cbean.company.socialname}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.address}" for="address" />
					<p:inputText id="address" required="true"
						requiredMessage="#{label.addressrequired}" size="50"
						maxlength="50" value="#{cbean.company.address}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.city}" for="city" />
					<p:inputText id="city" required="true"
						requiredMessage="#{label.cityrequired}" size="14" maxlength="14"
						value="#{cbean.company.city}" disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.phone}" for="phone" />
					<p:inputMask id="phone" size="14" maxlength="14"
						value="#{cbean.company.phone}" mask="(99)9999-9999"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.cellphone}" for="cellphone" />
					<p:inputMask id="cellphone" size="14" maxlength="14"
						value="#{cbean.company.cellphone}" mask="(99)99999-9999"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.active}" for="active" />
					<p:selectOneRadio id="active" value="#{cbean.company.active}"
						disabled="#{preferences.disabled}">
						<f:converter converterId="javax.faces.Boolean" />
						<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
						<f:selectItem itemLabel="#{label.no}" itemValue="false" />
					</p:selectOneRadio>

				</h:panelGrid>
				<h:panelGrid id="pnlregistrationfooter" columns="3">
					<p:commandButton value="#{label.update}"
						actionListener="#{preferences.setDisabled(false)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == true}" />

					<p:commandButton value="#{label.disable}"
						actionListener="#{cbean.disable}"
						update=":frmregistration:pnlregistration :frmtable:table"
						rendered="#{preferences.disabled == true}">
						<p:confirm header="#{label.confirmation}"
							message="#{label.wantdisable}" icon="ui-icon-alert" />
						<f:attribute name="selectedcompany" value="#{cbean.company}" />
					</p:commandButton>

					<p:commandButton value="#{label.close}"
						oncomplete="PF('dlgregistration').hide()"
						update=":frmregistration:pnlregistration"
						actionListener="#{cbean.init()}">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton value="#{label.cancel}"
						actionListener="#{preferences.setDisabled(true)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == false and preferences.windowtype == 'open'}" />

					<p:commandButton value="#{label.save}"
						actionListener="#{cbean.saveorupdate}"
						update=":message :frmtable:table"
						rendered="#{preferences.disabled == false}" />
				</h:panelGrid>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{label.yes}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{label.no}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
