<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">
		
			<h2 class="title-data-table">#{label.condominiumlist}</h2>
			
			
			<p:dataTable id="table" emptyMessage="#{label.norecordsfound}"
				value="#{cdbean.condominiums}" var="condominium" paginator="true"
				rows="5" resizableColumns="true" reflow="true" widgetVar="table"
				paginatorPosition="bottom" selectionMode="single"
				selection="#{cdbean.selectedcondominium}" rowKey="#{condominium.id}"
				rowsPerPageTemplate="5,10,15,30,50">
				<f:facet name="header">
					<p:commandButton value="#{label.neww}"
						oncomplete="PF('dlgregistration').show()"
						actionListener="#{cdbean.init()}"
						update=":frmregistration:pnlregistration :frmregistration:pnlregistrationfooter">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{cdbean.preparebean}"
					update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
					oncomplete="PF('dlgregistration').show()" />

				<p:column headerText="#{label.condominium}"
					filterBy="#{condominium.name}" sortBy="#{condominium.name}"
					filterMatchMode="contains">
					<h:outputLabel value="#{condominium.name}" />
				</p:column>

				<p:column headerText="#{label.address}"
					filterBy="#{condominium.address}" sortBy="#{condominium.address}"
					filterMatchMode="contains">
					<h:outputLabel value="#{condominium.address}" />
				</p:column>

				<p:column headerText="#{label.active}"
					filterBy="#{condominium.active}" sortBy="#{condominium.active}"
					filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('table').filter()">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="#{label.all}" itemValue="" />
							<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
							<f:selectItem itemLabel="#{label.no}" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputLabel value="#{condominium.active ? label.yes : label.no}" />
				</p:column>

				<f:facet name="footer">#{label.total}: #{cdbean.condominiums.size()} #{label.condominiums}</f:facet>
			</p:dataTable>
		</h:form>

		<p:dialog header="#{label.condominiumregistrations}" modal="true"
			widgetVar="dlgregistration" draggable="false" resizable="false">
			<h:form id="frmregistration">
				<h:panelGrid id="pnlregistration" columns="2">
					<p:outputLabel value="#{label.name}" for="name" />
					<p:inputText id="name" value="#{cdbean.condominium.name}"
						required="true" size="30" maxlength="30"
						requiredMessage="#{label.namerequired}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.address}" for="address" />
					<p:inputText id="address" value="#{cdbean.condominium.address}"
						required="true" size="50" maxlength="50"
						requiredMessage="#{label.addressrequired}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.city}" for="city" />
					<p:inputText id="city" value="#{cdbean.condominium.city}"
						required="true" size="15" maxlength="15"
						requiredMessage="#{label.cityrequired}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.phone}" for="phone" />
					<p:inputMask id="phone" value="#{cdbean.condominium.phone}"
						required="true" size="14" maxlength="14"
						requiredMessage="#{label.phonerequired}" mask="(99)9999-9999"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.active}" for="active" />
					<p:selectOneRadio id="active" value="#{cdbean.condominium.active}"
						disabled="#{preferences.disabled}">
						<f:converter converterId="javax.faces.Boolean" />
						<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
						<f:selectItem itemLabel="#{label.no}" itemValue="false" />
					</p:selectOneRadio>
				</h:panelGrid>

				<h:panelGrid id="pnlregistrationfooter" columns="3">
					<p:commandButton value="#{label.update}"
						actionListener="#{preferences.setDisabled(false)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == true}" />

					<p:commandButton value="#{label.disable}"
						actionListener="#{cdbean.disable}"
						update=":frmregistration:pnlregistration :frmtable:table"
						rendered="#{preferences.disabled == true}">
						<p:confirm header="#{label.confirmation}"
							message="#{label.wantdisable}" icon="ui-icon-alert" />
						<f:attribute name="selectedcondominium"
							value="#{cdbean.condominium}" />
					</p:commandButton>

					<p:commandButton value="#{label.close}"
						oncomplete="PF('dlgregistration').hide()"
						update=":frmregistration:pnlregistration"
						actionListener="#{cdbean.init()}">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton value="#{label.cancel}"
						actionListener="#{preferences.setDisabled(true)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == false and preferences.windowtype == 'open'}" />

					<p:commandButton value="#{label.save}"
						actionListener="#{cdbean.saveorupdate}"
						update=":message :frmtable:table"
						rendered="#{preferences.disabled == false}" />
				</h:panelGrid>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{label.yes}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{label.no}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
