<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">

			<h2 class="title-data-table">#{label.residentlist}</h2>


			<p:dataTable id="table" emptyMessage="#{label.norecordsfound}"
				value="#{rsbean.residents}" var="resident"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
				paginator="true" rows="5" resizableColumns="true" reflow="true"
				widgetVar="table" paginatorPosition="bottom" selectionMode="single"
				selection="#{rsbean.selectedresident}" rowKey="#{resident.id}"
				rowsPerPageTemplate="5,10,15,30,50">
				<f:facet name="header">
					<p:commandButton value="#{label.neww}"
						oncomplete="PF('dlgregistration').show()"
						actionListener="#{rsbean.init()}" update=":frmregistration">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<f:facet name="{Exporters}">
					<h:commandLink style="float:right">
						<p:graphicImage name="images/excel.png" width="24" />
						<p:dataExporter type="xls" target="table" fileName="residentes"
							encoding="utf-8" />
					</h:commandLink>

					<h:commandLink style="float:right">
						<p:graphicImage name="images/csv.png" width="24" />
						<p:dataExporter type="csv" target="table" fileName="cars"
							encoding="utf-8" />
					</h:commandLink>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{rsbean.preparebean}"
					update=":message :frmregistration"
					oncomplete="PF('dlgregistration').show()" />

				<p:column headerText="#{label.code}" filterBy="#{resident.id}"
					sortBy="#{resident.id}" filterMatchMode="contains">
					<h:outputLabel value="#{resident.id}" />
				</p:column>

				<p:column headerText="#{label.document}"
					filterBy="#{resident.document}" sortBy="#{resident.document}"
					filterMatchMode="contains">
					<h:outputLabel value="#{resident.document}" />
				</p:column>

				<p:column headerText="#{label.name}" filterBy="#{resident.name}"
					sortBy="#{resident.name}" filterMatchMode="contains">
					<h:outputLabel value="#{resident.name}" />
				</p:column>

				<p:column headerText="#{label.apartment}"
					filterBy="#{resident.apartment}"
					sortBy="#{resident.apartment.number}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('table').filter()"
							converter="omnifaces.SelectItemsConverter" filter="true"
							filterMatchMode="contains">
							<f:selectItem itemLabel="#{label.selectanoption}"
								noSelectionOption="true" />
							<f:selectItems value="#{rsbean.apartments}" var="apartment"
								itemLabel="#{apartment.number}" itemValue="#{apartment}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputLabel value="#{resident.apartment.number}" />
				</p:column>

				<p:column headerText="#{label.building}"
					filterBy="#{resident.apartment.building}"
					sortBy="#{resident.apartment.building.name}"
					filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('table').filter()"
							converter="omnifaces.SelectItemsConverter" filter="true"
							filterMatchMode="contains">
							<f:selectItem itemLabel="#{label.selectanoption}"
								noSelectionOption="true" />
							<f:selectItems value="#{rsbean.buildings}" var="building"
								itemLabel="#{building.name}" itemValue="#{building}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputLabel value="#{resident.apartment.building.name}" />
				</p:column>

				<p:column headerText="#{label.condominium}"
					filterBy="#{resident.apartment.building.condominium}"
					sortBy="#{resident.apartment.building.condominium.name}"
					filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('table').filter()"
							converter="omnifaces.SelectItemsConverter" filter="true"
							filterMatchMode="contains">
							<f:selectItem itemLabel="#{label.selectanoption}"
								noSelectionOption="true" />
							<f:selectItems value="#{rsbean.condominiums}" var="condominium"
								itemLabel="#{condominium.name}" itemValue="#{condominium}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputLabel
						value="#{resident.apartment.building.condominium.name}" />
				</p:column>

				<p:column headerText="#{label.active}" filterBy="#{resident.active}"
					sortBy="#{resident.active}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('table').filter()">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="#{label.all}" itemValue="" />
							<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
							<f:selectItem itemLabel="#{label.no}" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputLabel value="#{resident.active ? label.yes : label.no}" />
				</p:column>

				<f:facet name="footer">#{label.total}: #{rsbean.residents.size()} #{label.residents}</f:facet>
			</p:dataTable>
		</h:form>

		<p:dialog header="#{label.residentregistrations}" modal="true"
			widgetVar="dlgregistration" draggable="true" resizable="false">
			<h:form id="frmregistration">

				<h:panelGrid>
					<h:panelGrid>
						<p:panelGrid id="pnlphoto">
							<p:graphicImage rendered="#{not empty rsbean.filename}"
								value="../../images/#{rsbean.filename}.png"
								alt="#{label.nophoto}" />
						</p:panelGrid>
					</h:panelGrid>
					<h:panelGrid id="pnlregistration" columns="2">
						<p:outputLabel value="#{label.code}" for="code"
							rendered="#{rsbean.resident.id != null}" />
						<p:outputLabel id="code" value="#{rsbean.resident.id}"
							rendered="#{rsbean.resident.id != null}" />

						<p:outputLabel value="#{label.apartment}" for="apartment" />
						<p:selectOneMenu id="apartment"
							value="#{rsbean.resident.apartment}" required="true"
							requiredMessage="#{label.apartmentrequired}"
							converter="omnifaces.SelectItemsConverter"
							disabled="#{preferences.disabled}" filter="true"
							filterMatchMode="contains">
							<f:selectItem itemLabel="#{label.selectanoption}"
								noSelectionOption="true" />
							<f:selectItems value="#{rsbean.apartments}" var="apartment"
								itemLabel="#{apartment.building.condominium.name} - #{apartment.building.name} - #{apartment.number}"
								itemValue="#{apartment}" />
						</p:selectOneMenu>

						<p:outputLabel value="#{label.document}" for="document" />
						<p:inputText id="document" value="#{rsbean.resident.document}"
							required="true" size="30" maxlength="30"
							requiredMessage="#{label.document}"
							disabled="#{preferences.disabled}" />

						<p:outputLabel value="#{label.name}" for="name" />
						<p:inputText id="name" value="#{rsbean.resident.name}"
							required="true" size="30" maxlength="30"
							requiredMessage="#{label.name}"
							disabled="#{preferences.disabled}" />

						<p:outputLabel value="#{label.active}" for="active" />
						<p:selectOneRadio id="active" value="#{rsbean.resident.active}"
							disabled="#{preferences.disabled}">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
							<f:selectItem itemLabel="#{label.no}" itemValue="false" />
						</p:selectOneRadio>

					</h:panelGrid>

					<h:panelGrid id="pnlregistrationfooter" columns="4">
						<p:commandButton value="#{label.update}"
							actionListener="#{preferences.setDisabled(false)}"
							update=":message :frmregistration"
							rendered="#{preferences.disabled == true}" />

						<p:commandButton value="#{label.disable}"
							actionListener="#{rsbean.disable}"
							update=":frmregistration :frmtable:table"
							rendered="#{preferences.disabled == true}">
							<p:confirm header="#{label.confirmation}"
								message="#{label.wantdisable}" icon="ui-icon-alert" />
							<f:attribute name="selectedresident" value="#{rsbean.resident}" />
						</p:commandButton>

						<p:commandButton value="#{label.close}"
							oncomplete="PF('dlgregistration').hide()"
							update=":frmregistration" actionListener="#{rsbean.init()}">
							<f:actionListener
								type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>

						<p:commandButton value="#{label.cancel}"
							actionListener="#{preferences.setDisabled(true)}"
							update=":message :frmregistration"
							rendered="#{preferences.disabled == false and preferences.windowtype == 'open'}" />

						<p:commandButton value="#{label.save}"
							actionListener="#{rsbean.saveorupdate}"
							update=":message :frmtable:table"
							rendered="#{preferences.disabled == false}" />

						<p:commandButton value="#{label.photoinsert}"
							oncomplete="PF('dlgphoto').show()"
							rendered="#{preferences.disabled == false}" update="frmphoto"
							action="#{rsbean.preparedlgphoto()}" />

						<p:commandButton value="#{label.photoupload}"
							oncomplete="PF('dlgphotoupload').show()"
							rendered="#{preferences.disabled == false}"
							update=":frmregistration" action="#{rsbean.preparedlgphoto()}" />
					</h:panelGrid>
				</h:panelGrid>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{label.yes}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{label.no}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:dialog>

		<p:dialog header="#{label.photoinsert}" modal="true"
			widgetVar="dlgphoto" draggable="true" resizable="false">
			<h:form id="frmphoto">
				<h:panelGrid columns="3">
					<p:panelGrid id="pnlcapture" columns="1">
						<p:photoCam widgetVar="pc" listener="#{rsbean.oncapture}"
							update=":frmphoto:pnlcropper" />
						<p:commandButton type="button" value="#{label.capture}"
							onclick="PF('pc').capture()" />
					</p:panelGrid>

					<p:panelGrid id="pnlcropper" columns="1">
						<p:imageCropper value="#{rsbean.croppedImage}"
							image="../../images/#{rsbean.filename}.png"
							initialCoords="225,75,300,125" />
						<p:commandButton value="Crop" action="#{rsbean.crop}"
							icon="ui-icon-scissors" update=":frmregistration"
							oncomplete="PF('dlgphoto').hide()" />
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog header="#{label.photoinsert}" modal="true"
			widgetVar="dlgphotoupload" draggable="true" resizable="false">
			<h:form id="frmphotoupload">
				<h:panelGrid columns="3">
					<p:panelGrid id="pnlcapture" columns="1">
						<p:fileUpload fileUploadListener="#{rsbean.loadingphotoupload}"
							mode="advanced" update=":frmphotoupload:pnlcapture"
							allowTypes="/(\.|\/)(jpeg|jpg|png)$/" label="Escolha a imagem" />

						<p:imageCropper value="#{rsbean.croppedImage}"
							image="../../images/#{rsbean.filename}.png"
							initialCoords="225,75,300,125" />
						<p:commandButton value="Cortar" action="#{rsbean.crop()}"
							icon="ui-icon-scissors" update=":frmregistration"
							oncomplete="PF('dlgphotoupload').hide()" />
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
