<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">

			<h2 class="title-data-table">#{label.triplist}</h2>

			<p:fieldset legend="Filtros">
				<h:panelGrid columns="6" id="pnlfilter">
					<p:outputLabel value="#{label.initialdate}" for="initialdate" />
					<p:outputLabel value="#{label.finaldate}" for="finaldate" />
					<p:outputLabel value="#{label.initialtime}" for="initialtime" />
					<p:outputLabel value="#{label.finaltime}" for="finaltime" />
					<p:outputLabel value="#{label.user}" for="user" />
					<p:outputLabel value="#{label.route}" for="route" />

					<p:calendar id="initialdate" locale="pt_BR" pattern="dd/MM/yyyy"
						mask="true" value="#{tbean.trip.initialdate}" size="6"
						maxlength="10" />
					<p:calendar id="finaldate" locale="pt_BR" pattern="dd/MM/yyyy"
						mask="true" value="#{tbean.trip.finaldate}" size="6"
						maxlength="10" />
					<p:inputMask mask="99:99" id="initialtime"
						value="#{tbean.trip.initialtime}" size="4" maxlength="5">
						<f:convertDateTime pattern="HH:mm" timeZone="GMT-3" />
					</p:inputMask>
					<p:inputMask mask="99:99" id="finaltime"
						value="#{tbean.trip.finaltime}" size="4" maxlength="5">
						<f:convertDateTime pattern="HH:mm" timeZone="GMT-3" />
					</p:inputMask>
					<p:selectOneMenu id="driver" value="#{tbean.trip.user}"
						converter="omnifaces.SelectItemsConverter"
						rendered="#{not tbean.trip.user}" filter="true">
						<f:selectItem itemLabel="#{label.selectanoption}"
							noSelectionOption="true" />
						<f:selectItems value="#{tbean.drivers}" var="driver"
							itemLabel="#{driver.firstname} #{driver.lastname}"
							itemValue="#{driver}" />
					</p:selectOneMenu>
					<p:selectOneMenu id="route" value="#{tbean.trip.route}"
						converter="omnifaces.SelectItemsConverter" filter="true">
						<f:selectItem itemLabel="#{label.selectanoption}"
							noSelectionOption="true" />
						<f:selectItems value="#{tbean.routes}" var="route"
							itemLabel="#{route.name}" itemValue="#{route}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<p:panel style="border: none; text-align:right">
					<p:commandButton value="#{label.clean}"
						actionListener="#{tbean.tripclean()}"
						update=":frmtable:pnlfilter :frmtable:table" />

					<p:commandButton value="#{label.search}"
						actionListener="#{tbean.tripfilter()}"
						update=":message :frmtable:table" icon="fa fa-search" />
				</p:panel>
			</p:fieldset>

			<br />

			<p:dataTable id="table" emptyMessage="#{label.norecordsfound}"
				value="#{tbean.trips}" var="booking" paginator="true" rows="5"
				resizableColumns="true" reflow="true" widgetVar="table"
				paginatorPosition="bottom" selectionMode="single"
				selection="#{tbean.selectedbooking}" rowKey="#{booking.id}"
				rowIndexVar="row" rowsPerPageTemplate="5,10,15">

				<f:facet name="header">
					<p:commandButton value="#{label.neww}" action="booking.xhtml" />
					<h:commandLink value="Excel">
						<p:dataExporter type="xls" target="table"
							fileName="#{label.bookinglist}" />
					</h:commandLink>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{tbean.onRowSelected}" />

				<p:column headerText="#{label.date}" sortBy="#{booking.date}">
					<h:outputText value="#{booking.date}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{label.initialtime}"
					sortBy="#{booking.initialtime}">
					<h:outputText value="#{booking.initialtime}">
						<f:convertDateTime pattern="HH:mm" timeZone="GMT-3" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{label.finaltime}"
					sortBy="#{booking.finaltime}">
					<h:outputText value="#{booking.finaltime}">
						<f:convertDateTime pattern="HH:mm" timeZone="GMT-3" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{label.teacher}"
					sortBy="#{booking.teacher.name}">
					<h:outputText value="#{booking.teacher.name}" />
				</p:column>

				<p:column headerText="#{label.status}"
					sortBy="#{booking.status.status}">
					<h:outputLabel value="#{label[booking.status.name()]}" />
				</p:column>

				<p:column headerText="#{label.step}" sortBy="#{booking.step.step}">
					<h:outputLabel value="#{label[booking.step.name()]}" />
				</p:column>
			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>
