<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">

			<h2 class="title-data-table">#{label.apartmentlist}</h2>

			<p:fieldset legend="Filtros">
				<h:panelGrid columns="5" id="pnlfilter">
					<p:outputLabel value="#{label.initialdate}" for="initialdate" />
					<p:outputLabel value="#{label.finaldate}" for="finaldate" />
					<p:outputLabel value="#{label.driver}" for="driver" />
					<p:outputLabel value="#{label.route}" for="route" />
					<p:outputLabel value="#{label.resident}" for="resident" />

					<p:calendar id="initialdate" locale="pt_BR" pattern="dd/MM/yyyy"
						mask="true" value="#{tbean.residenttrip.initialdate}" size="10"
						maxlength="10" />
					<p:calendar id="finaldate" locale="pt_BR" pattern="dd/MM/yyyy"
						mask="true" value="#{tbean.residenttrip.finaldate}" size="10"
						maxlength="10" />
					<p:selectOneMenu id="driver"
						value="#{tbean.residenttrip.trip.user}"
						converter="omnifaces.SelectItemsConverter" filter="true">
						<f:selectItem itemLabel="#{label.selectanoption}"
							noSelectionOption="true" />
						<f:selectItems value="#{tbean.drivers}" var="driver"
							itemLabel="#{driver.firstname} #{driver.lastname}"
							itemValue="#{driver}" />
					</p:selectOneMenu>
					<p:selectOneMenu id="route"
						value="#{tbean.residenttrip.trip.route}"
						converter="omnifaces.SelectItemsConverter" filter="true">
						<f:selectItem itemLabel="#{label.selectanoption}"
							noSelectionOption="true" />
						<f:selectItems value="#{tbean.routes}" var="route"
							itemLabel="#{route.name}" itemValue="#{route}" />
					</p:selectOneMenu>
					<p:selectOneMenu id="resident"
						value="#{tbean.residenttrip.resident}"
						converter="omnifaces.SelectItemsConverter" filter="true">
						<f:selectItem itemLabel="#{label.selectanoption}"
							noSelectionOption="true" />
						<f:selectItems value="#{tbean.residents}" var="resident"
							itemLabel="#{resident.name}" itemValue="#{resident}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<p:panel style="border: none; text-align:right">
					<p:commandButton value="#{label.clean}"
						actionListener="#{tbean.tripclean()}"
						update=":frmtable:pnlfilter :frmtable:tbl" />

					<p:commandButton value="#{label.search}"
						actionListener="#{tbean.tripfilter()}"
						update=":message :frmtable:tbl" icon="fa fa-search" />
				</p:panel>
			</p:fieldset>

			<br />

			<p:dataTable id="tbl" value="#{tbean.residentstrip}" var="resident"
				paginator="true" rows="20">

				<f:facet name="{Exporters}">
					<h:commandLink>
						<p:graphicImage value="/images/excel.png" width="24" />
						<p:dataExporter type="xls" target="tbl" fileName="trips" />
					</h:commandLink>
				</f:facet>

				<p:column headerText="#{label.date}" sortBy="#{resident.trip.date}">
					<h:outputText value="#{resident.trip.date}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{label.time}" sortBy="#{resident.time}">
					<h:outputText value="#{resident.time}">
						<f:convertDateTime pattern="HH:mm" timeZone="GMT-3" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{label.route}"
					sortBy="#{resident.trip.route.name}">
					<h:outputText value="#{resident.trip.route.name}" />
				</p:column>

				<p:column headerText="#{label.driver}"
					sortBy="{resident.trip.user.firstname} #{resident.trip.user.lastname}">
					<h:outputText
						value="#{resident.trip.user.firstname} #{resident.trip.user.lastname}" />
				</p:column>

				<p:column headerText="#{label.resident}"
					sortBy="#{resident.resident.name}">
					<h:outputText value="#{resident.resident.name}" />
				</p:column>

				<p:column headerText="#{label.apartment}"
					sortBy="#{resident.resident.apartment.number}">
					<h:outputText value="#{resident.resident.apartment.number}" />
				</p:column>

				<p:column headerText="#{label.condominium}"
					sortBy="#{resident.resident.apartment.building.condominium.name}">
					<h:outputText value="#{resident.resident.apartment.building.condominium.name}" />
				</p:column>

				<f:facet name="footer">#{label.total}: #{tbean.residentstrip.size()} #{label.residents}</f:facet>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
