<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">
		
			<h2 class="title-data-table">#{label.userlist}</h2>
			
			
			<p:dataTable id="table" emptyMessage="#{label.norecordsfound}"
				value="#{userbean.users}" var="user" paginator="true" rows="5"
				resizableColumns="true" reflow="true" widgetVar="table"
				paginatorPosition="bottom" selectionMode="single"
				selection="#{userbean.selecteduser}" rowKey="#{user.id}"
				rowsPerPageTemplate="5,10,15,30,50">
				<f:facet name="header">
					<p:commandButton value="#{label.neww}"
						oncomplete="PF('dlgregistration').show()"
						actionListener="#{userbean.init()}"
						update=":frmregistration:pnlregistration :frmregistration:pnlregistrationfooter">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{userbean.preparebean}"
					update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
					oncomplete="PF('dlgregistration').show()" />

				<p:column headerText="#{label.user}" filterBy="#{user.username}"
					sortBy="#{user.username}" filterMatchMode="contains">
					<h:outputLabel value="#{user.username}" />
				</p:column>

				<p:column headerText="#{label.firstname}"
					filterBy="#{user.firstname}" sortBy="#{user.firstname}"
					filterMatchMode="contains">
					<h:outputLabel value="#{user.firstname}" />
				</p:column>

				<p:column headerText="#{label.lastname}" filterBy="#{user.lastname}"
					sortBy="#{user.lastname}" filterMatchMode="contains">
					<h:outputLabel value="#{user.lastname}" />
				</p:column>

				<p:column headerText="#{label.type}" filterBy="#{user.type}"
					sortBy="#{user.type.type}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('table').filter()"
							converter="omnifaces.SelectItemsConverter">
							<f:selectItem itemLabel="#{label.selectanoption}" itemValue="" />
							<f:selectItems value="#{userbean.usertypes}" var="type"
								itemLabel="#{type.type}" itemValue="#{type}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputLabel value="#{user.type.type}" />
				</p:column>

				<p:column headerText="#{label.company}" filterBy="#{user.company}"
					sortBy="#{user.company.fantasyname}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('table').filter()"
							converter="omnifaces.SelectItemsConverter">
							<f:selectItem itemLabel="#{label.selectanoption}" itemValue="" />
							<f:selectItems value="#{userbean.companies}" var="company"
								itemLabel="#{company.fantasyname}" itemValue="#{company}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputLabel value="#{user.company.fantasyname}" />
				</p:column>

				<p:column headerText="#{label.active}" filterBy="#{user.active}"
					sortBy="#{user.active}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('table').filter()">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="#{label.all}" itemValue="" />
							<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
							<f:selectItem itemLabel="#{label.no}" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputLabel value="#{user.active ? label.yes : label.no}" />
				</p:column>

				<f:facet name="footer">#{label.total}: #{userbean.users.size()} #{label.users}</f:facet>
			</p:dataTable>
		</h:form>

		<p:dialog header="#{label.userregistrations}" modal="true"
			widgetVar="dlgregistration" draggable="false" resizable="false">
			<h:form id="frmregistration">
				<h:panelGrid id="pnlregistration" columns="2">
					<p:outputLabel value="#{label.user}" for="username" />
					<p:inputText id="username" required="true"
						requiredMessage="#{label.userrequired}" size="20" maxlength="20"
						value="#{userbean.user.username}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.firstname}" for="firstname" />
					<p:inputText id="firstname" required="true"
						requiredMessage="#{label.firstnamerequired}" size="20"
						maxlength="20" value="#{userbean.user.firstname}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.lastname}" for="lastname" />
					<p:inputText id="lastname" required="true"
						requiredMessage="#{label.lastnamerequired}" size="20"
						maxlength="20" value="#{userbean.user.lastname}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.password}" for="password" />
					<p:password id="password" required="true"
						requiredMessage="#{label.passwordrequired}" size="20"
						maxlength="20" value="#{userbean.user.password}"
						disabled="#{preferences.disabled}" />

					<p:outputLabel value="#{label.type}" for="type" />
					<p:selectOneMenu id="type" value="#{userbean.user.type}"
						required="true" requiredMessage="#{label.typerequired}"
						converter="omnifaces.SelectItemsConverter"
						disabled="#{preferences.disabled}">
						<f:selectItem itemLabel="#{label.selectanoption}" itemValue="" />
						<f:selectItems value="#{userbean.usertypes}" var="type"
							itemLabel="#{type.type}" itemValue="#{type}" />
						<p:ajax update="labelcompany" />
					</p:selectOneMenu>

					<p:outputLabel id="labelcompany" value="#{label.company}"
						for="company" />
					<p:selectOneMenu id="company" value="#{userbean.user.company}"
						requiredMessage="#{label.companyrequired}"
						converter="omnifaces.SelectItemsConverter"
						disabled="#{preferences.disabled}">
						<f:selectItem itemLabel="#{label.selectanoption}" itemValue="" />
						<f:selectItems value="#{userbean.companies}" var="company"
							itemLabel="#{company.fantasyname}" itemValue="#{company}" />
					</p:selectOneMenu>

					<p:outputLabel value="#{label.active}" for="active" />
					<p:selectOneRadio id="active" value="#{userbean.user.active}"
						disabled="#{preferences.disabled}">
						<f:converter converterId="javax.faces.Boolean" />
						<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
						<f:selectItem itemLabel="#{label.no}" itemValue="false" />
					</p:selectOneRadio>

				</h:panelGrid>

				<h:panelGrid id="pnlregistrationfooter" columns="3">
					<p:commandButton value="#{label.update}"
						actionListener="#{preferences.setDisabled(false)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == true}" />

					<p:commandButton value="#{label.disable}"
						actionListener="#{userbean.disable}"
						update=":frmregistration:pnlregistration :frmtable:table"
						rendered="#{preferences.disabled == true}">
						<p:confirm header="#{label.confirmation}"
							message="#{label.wantdisable}" icon="ui-icon-alert" />
						<f:attribute name="selecteduser" value="#{userbean.user}" />
					</p:commandButton>

					<p:commandButton value="#{label.close}"
						oncomplete="PF('dlgregistration').hide()"
						update=":frmregistration:pnlregistration"
						actionListener="#{userbean.init()}">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton value="#{label.cancel}"
						actionListener="#{preferences.setDisabled(true)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == false and preferences.windowtype == 'open'}" />

					<p:commandButton value="#{label.save}"
						actionListener="#{userbean.saveorupdate}"
						update=":message :frmtable:table"
						rendered="#{preferences.disabled == false}" />
				</h:panelGrid>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{label.yes}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{label.no}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
