<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="content">

		<h:form id="frmtable">

			<h2 class="title-data-table">#{label.vehiclelist}</h2>


			<p:dataTable id="table" emptyMessage="#{label.norecordsfound}"
				value="#{vbean.vehicles}" var="vehicle" paginator="true" rows="5"
				resizableColumns="true" reflow="true" widgetVar="table"
				paginatorPosition="bottom" selectionMode="single"
				selection="#{vbean.selectedvehicle}" rowKey="#{vehicle.id}"
				rowsPerPageTemplate="5,10,15,30,50">
				<f:facet name="header">
					<p:commandButton value="#{label.neww}"
						oncomplete="PF('dlgregistration').show()"
						actionListener="#{vbean.init()}"
						update=":frmregistration:pnlregistration :frmregistration:pnlregistrationfooter">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{vbean.preparebean}"
					update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
					oncomplete="PF('dlgregistration').show()" />

				<p:column headerText="#{label.type}" filterBy="#{vehicle.type.name}"
					sortBy="#{vehicle.type.name}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('table').filter()"
							converter="omnifaces.SelectItemsConverter">
							<f:selectItem itemLabel="#{label.selectanoption}"
								noSelectionOption="true" />
							<f:selectItems value="#{vbean.vehicletypes}" var="type"
								itemLabel="#{type.name}" itemValue="#{type}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputLabel value="#{vehicle.type.name}" />
				</p:column>

				<p:column headerText="#{label.boardnumber}"
					filterBy="#{vehicle.boardnumber}" sortBy="#{vehicle.boardnumber}"
					filterMatchMode="contains">
					<h:outputLabel value="#{vehicle.boardnumber}" />
				</p:column>

				<p:column headerText="#{label.active}" filterBy="#{vehicle.active}"
					sortBy="#{vehicle.active}" filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('table').filter()">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="#{label.all}" itemValue="" />
							<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
							<f:selectItem itemLabel="#{label.no}" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputLabel value="#{vehicle.active ? label.yes : label.no}" />
				</p:column>

				<f:facet name="footer">#{label.total}: #{vbean.vehicles.size()} #{label.vehicles}</f:facet>
			</p:dataTable>
		</h:form>

		<p:dialog header="#{label.vehicleregistrations}" modal="true"
			widgetVar="dlgregistration" draggable="false" resizable="false">
			<h:form id="frmregistration">
				<h:panelGrid id="pnlregistration" columns="2">
					<p:outputLabel value="#{label.type}" for="type" />
					<p:selectOneMenu id="type" value="#{vbean.vehicle.type}"
						required="true" requiredMessage="#{label.typerequired}"
						converter="omnifaces.SelectItemsConverter"
						disabled="#{preferences.disabled}">
						<f:selectItem itemLabel="#{label.selectanoption}"
							noSelectionOption="true" />
						<f:selectItems value="#{vbean.vehicletypes}" var="vtype"
							itemLabel="#{vtype.name}" itemValue="#{vtype}" />
					</p:selectOneMenu>

					<p:outputLabel value="#{label.boardnumber}" for="boardnumber" />
					<p:inputMask id="boardnumber" value="#{vbean.vehicle.boardnumber}"
						required="true" size="8" maxlength="8"
						requiredMessage="#{label.boardnumberrequired}"
						disabled="#{preferences.disabled}" mask="aaa-9999" />

					<p:outputLabel value="#{label.active}" for="active" />
					<p:selectOneRadio id="active" value="#{vbean.vehicle.active}"
						disabled="#{preferences.disabled}">
						<f:converter converterId="javax.faces.Boolean" />
						<f:selectItem itemLabel="#{label.yes}" itemValue="true" />
						<f:selectItem itemLabel="#{label.no}" itemValue="false" />
					</p:selectOneRadio>
				</h:panelGrid>

				<h:panelGrid id="pnlregistrationfooter" columns="3">
					<p:commandButton value="#{label.update}"
						actionListener="#{preferences.setDisabled(false)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == true}" />

					<p:commandButton value="#{label.disable}"
						actionListener="#{vbean.disable}"
						update=":frmregistration:pnlregistration :frmtable:table"
						rendered="#{preferences.disabled == true}">
						<p:confirm header="#{label.confirmation}"
							message="#{label.wantdisable}" icon="ui-icon-alert" />
						<f:attribute name="selectedvehicle" value="#{vbean.vehicle}" />
					</p:commandButton>

					<p:commandButton value="#{label.close}"
						oncomplete="PF('dlgregistration').hide()"
						update=":frmregistration:pnlregistration"
						actionListener="#{vbean.init()}">
						<f:actionListener
							type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
					</p:commandButton>

					<p:commandButton value="#{label.cancel}"
						actionListener="#{preferences.setDisabled(true)}"
						update=":message :frmregistration:pnlregistration :frmregistration:pnlregistrationfooter"
						rendered="#{preferences.disabled == false and preferences.windowtype == 'open'}" />

					<p:commandButton value="#{label.save}"
						actionListener="#{vbean.saveorupdate}"
						update=":message :frmtable:table"
						rendered="#{preferences.disabled == false}" />
				</h:panelGrid>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{label.yes}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{label.no}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
