<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/morpheus">

	<div class="layout-sidebar">
		<pm:tabMenu id="tabMenu">
			<pm:tab id="tab1" icon="fa fa-folder-open" title="#{label.data}">
				<h:form id="menu-form">
					<pm:menu>
						<p:submenu id="um_customization1" label="#{label.registrations}"
							icon="fa fa-fw fa-bars" rendered="#{usercontrol.operator}">
							<p:menuitem id="menu10" value="#{label.vehicletype}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(true)}"
								ajax="false" outcome="/pages/vehicletype.xhtml" />
							<p:menuitem id="menu8" value="#{label.vehicle}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(true)}"
								ajax="false" outcome="/pages/vehicle.xhtml" />
							<p:menuitem id="menu7" value="#{label.route}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(true)}"
								ajax="false" outcome="/pages/route.xhtml" />
							<p:menuitem id="menu4" value="#{label.condominium}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(true)}"
								ajax="false" outcome="/pages/condominium.xhtml" />
							<p:menuitem id="menu2" value="#{label.building}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(true)}"
								ajax="false" outcome="/pages/building.xhtml" />
							<p:menuitem id="menu1" value="#{label.apartment}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(false)}"
								ajax="false" outcome="/pages/apartment.xhtml" />
							<p:menuitem id="menu6" value="#{label.resident}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(true)}"
								ajax="false" outcome="/pages/resident.xhtml" />
						</p:submenu>
						<p:submenu id="um_customization2"
							label="#{label.adminregistrations}" icon="fa fa-fw fa-bars"
							rendered="#{usercontrol.admin}">
							<p:menuitem id="menu9" value="#{label.user}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(false)}"
								ajax="false" outcome="/pages/user.xhtml" />
							<p:menuitem id="menu3" value="#{label.company}"
								icon="fa fa-fw fa-bars"
								actionListener="#{preferences.setOverlayMenu(true)}"
								ajax="false" outcome="/pages/company.xhtml"
								rendered="#{usercontrol.admin}" />
						</p:submenu>
						<p:submenu id="um_customization3" label="#{label.reports}"
							icon="fa fa-fw fa-bars" rendered="#{usercontrol.operator}">
							<p:menuitem id="menu11" value="#{label.triplist}"
								icon="fa fa-fw fa-bars" ajax="false" outcome="/pages/trip.xhtml" />
						</p:submenu>
					</pm:menu>
				</h:form>
			</pm:tab>
		</pm:tabMenu>
	</div>

</ui:composition>
