<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>#{label.buscontrol}</title>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<h:outputScript name="nanoscroller.js" library="js" />
	<h:outputScript name="layout.js" library="js" />
	<h:outputScript name="webcam.js" library="js" />
</h:head>

<h:body styleClass="main-body">
	<p:growl id="message" sticky="false" life="3000" />

	<div class="layout-wrapper layout-overlay-menu}">
		<ui:include src="./topbar.xhtml" />

		<ui:include src="./menu.xhtml" />

		<div class="layout-content">
			<ui:insert name="content" />
		</div>
	</div>

	<p:ajaxStatus
		style="width:32px; height:32px; position:fixed; right:7px; bottom:7px">
		<f:facet name="start">
			<i class="fa fa-circle-o-notch fa-spin ajax-loader"
				aria-hidden="true"></i>
		</f:facet>

		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

	<h:outputStylesheet name="nanoscroller.css" library="css" />
	<h:outputStylesheet name="animate.css" library="css" />
	<h:outputStylesheet name="layout.css" library="css" />
	<h:outputStylesheet name="styles.css" library="css" />
</h:body>

</html>