<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pa="http://primefaces.org/morpheus">

	<div class="topbar">
		<a href="" id="menu-button"><span class="fa fa-angle-left" /></a><a
			class="morpheus-logo-link" href="../pages/dashboard.xhtml"><span
			class="fa fa-bus fa-2x" /><span class="morpheus-logo-text">
				#{label.buscontrol} </span> </a> <a id="topbar-menu-button" href="#"> <i
			class="fa fa-bars"></i>
		</a>

		<ul class="topbar-menu">
			<li class="profile-item"><a href="#"> <i
					class="topbar-icon fa fa-fw fa-sliders"></i> <span
					class="topbar-item-name">#{label.settings}</span>
			</a>
				<ul class="animated">
					<li role="menuitem"><a href="#"
						onclick="PF('dlgchangepassword').show()"> <i
							class="fa fa-fw fa-cog"></i> <span>#{label.changepassword}</span>
					</a></li>
					<h:form>
						<li role="menuitem"><h:commandLink
								action="#{usercontrol.logOut}">
								<i class="fa fa-fw fa-sign-out"></i>
								<span>#{label.logout}</span>
							</h:commandLink></li>
					</h:form>
				</ul></li>
		</ul>
	</div>

	<p:dialog header="#{label.changepassword}" modal="true"
		widgetVar="dlgchangepassword" draggable="false" resizable="false">
		<h:form id="frmchangepassword">
			<h:panelGrid id="pnlregistration" columns="2">
				<p:outputLabel value="#{label.passwordcurrent}"
					for="passwordcurrent" />
				<p:password id="passwordcurrent" value="#{tbbean.passwordcurrent}" />
				<p:outputLabel value="#{label.newpassword}" for="newpassword" />
				<p:password id="newpassword" value="#{tbbean.newpassword}" />
				<p:outputLabel value="#{label.confirmpassword}"
					for="confirmpassword" />
				<p:password id="confirmpassword" value="#{tbbean.confirmpassword}" />
			</h:panelGrid>
			<h:panelGrid columns="2">
				<p:commandButton value="#{label.cancel}"
					oncomplete="PF('dlgchangepassword').hide()" />
				<p:commandButton value="#{label.save}"
					actionListener="#{tbbean.save}" update=":message" />
			</h:panelGrid>
		</h:form>
	</p:dialog>

</ui:composition>