<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<h:outputStylesheet library="css" name="layout.css" />
	</f:facet>
	<title>#{label.login}</title>
</h:head>

<h:body styleClass="login-body">
	<p:growl id="message" showDetail="true" sticky="true" life="5000" />

	<p:ajaxStatus onstart="PF('statusDialog').show()"
		onsuccess="PF('statusDialog').hide()" />

	<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
		closable="false" resizable="false" showHeader="false">
		<i class="fa fa-cog fa-spin fa-3x fa-fw" />
	</p:dialog>

	<div class="login-panel ui-fluid">
		<div class="ui-g login-container" style="padding-bottom: 20px;">
			<h:form method="post" id="form">
				<div class="ui-g-12 logo-container">
					<a class="morpheus-logo-link" href="#"><span
						class="morpheus-logo-text">#{label.buscontrol}</span></a>
				</div>

				<p:focus context="form" />

				<div class="ui-g-12">
					<p:inputText placeholder="#{label.user}" required="true"
						requiredMessage="#{label.userrequired}"
						value="#{logincontrol.username}" />
				</div>
				<div class="ui-g-12">
					<p:password placeholder="#{label.password}" feedback="false"
						required="true" requiredMessage="#{label.passwordrequired}"
						value="#{logincontrol.password}" />
				</div>
				<div class="ui-g-12 button-container">
					<p:commandButton value="#{label.signin}" icon="fa fa-user"
						styleClass="green-btn raised-btn" action="#{logincontrol.sign}"
						update=":message" />
				</div>
			</h:form>
		</div>
	</div>
</h:body>
</html>