@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src:
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-300.eot']}");
	/* IE9 Compat Modes */
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-300.eot']}?#iefix")
		format("embedded-opentype"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-300.woff2']}")
		format("woff2"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-300.woff']}")
		format("woff"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-300.ttf']}")
		format("truetype"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-300.svg']}#SourceSansPro")
		format("svg");
	/* Legacy iOS */
}
/* source-sans-pro-regular - latin_latin-ext */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src:
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-regular.eot']}");
	/* IE9 Compat Modes */
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-regular.eot']}?#iefix")
		format("embedded-opentype"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-regular.woff2']}")
		format("woff2"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-regular.woff']}")
		format("woff"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-regular.ttf']}")
		format("truetype"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-regular.svg']}#SourceSansPro")
		format("svg");
	/* Legacy iOS */
}
/* source-sans-pro-700 - latin_latin-ext */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src:
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-700.eot']}");
	/* IE9 Compat Modes */
	src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-700.eot']}?#iefix")
		format("embedded-opentype"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-700.woff2']}")
		format("woff2"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-700.woff']}")
		format("woff"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-700.ttf']}")
		format("truetype"),
		url("#{resource['morpheus-layout:fonts/source-sans-pro-v9-latin_latin-ext-700.svg']}#SourceSansPro")
		format("svg");
	/* Legacy iOS */
}

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
	font-size: 13px;
	color: #777777;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	height: 100%;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 100% !important;
}

.column-options {
	text-align: center;
	width: 5%
}

.title-data-table {
	margin: 10px;
	color: #61d42d;
}